@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');

@font-face {
	font-family: 'Romana';
	src: url('../fonts/RomanaBTRoman.ttf');
}

html, body{
	height: 100%;
	background-color: #F8F7FF;
	color: #1c1c1c;
}


